<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MainecoonVaporExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Nest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SwiftyBeaverVaporExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1572</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1592</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1593</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1608</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1615</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1628</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1629</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1636</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2238</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2254</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2256</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2258</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2259</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2274</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2275</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2276</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2277</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2278</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2286</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2305</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2306</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2307</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2339</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2355</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2359</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2360</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2367</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2368</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2375</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2376</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2387</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2407</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2408</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2434</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2454</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2455</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2456</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2469</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2476</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2489</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2511</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2513</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2533</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2534</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2584</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2586</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2604</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2605</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2606</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2608</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2717</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2738</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2767</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2787</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2813</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2833</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2834</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2860</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2861</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2867</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2887</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2888</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2897</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2908</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2909</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2917</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2918</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2919</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2939</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2940</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2989</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2990</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3022</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3043</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3078</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3098</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3099</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3131</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3151</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3152</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3177</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3197</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3198</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3223</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3243</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3244</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3315</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3317</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3335</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3336</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3338</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3478</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3498</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3499</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3560</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3580</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3581</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3665</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3820</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3828</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3841</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3848</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3849</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3909</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3910</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3940</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3960</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3961</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3989</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3990</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4010</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4020</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4040</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4041</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4060</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4061</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4136</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4156</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4234</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4254</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4255</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4268</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4357</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4358</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4428</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4448</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4471</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4494</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4495</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4585</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4586</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
